body{
    background-image:url(img/cafe.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid
}
h1{text-align: center;
color: yellow}
p{text-align: center;
font-weight: bold;
color: yellow }
img{
    bottom: -15px;
    justify-self: center;
}
a:hover{
    color: yellow;
    text-shadow:1px 1px 5px red;
}
a {
    text-decoration: none;
    color: white;
}